body {
  padding: 0;
  margin: 0;
  height: 100vh; /*윈도우 뷰포트 전체를 100으로 보겠다*/
}
/*
canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: linear-gradient(
    to top,
    rgba(0, 169, 217, 0.7) 0%,
    rgba(0, 169, 217, 0.5) 5%,
    rgba(0, 169, 217, 0) 70%
  );
}
*/

.portfolio-link {
  position: fixed;
  left: 5%;
  bottom: 5%;
  color: #ffff00;
  text-decoration: none;
  font-size: 28px;
  /* z-index: 1; */

} 
/* intro 사이트 좌측 하단 '윤다희의 포트폴리오' 관련 내용임. 이런식으로 UI 버튼 조정도 가능
UI 디자이너한테 UI 위치를 강력하게 요구하고 싶을 때 구체적으로 적으면 좋다. 단위는 px로 통일 */